<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Hayalpc.Library.NLogGelf"/>
	</extensions>

	<variable name="logLayout" value="${longdate}|${mdlc:item=request_ip}|${aspnet-TraceIdentifier:ignoreActivityId=false}|${uppercase:${level}}|${message}${exception}" />
	<variable name="fileName" value="c:\logs.pp.local\Hayalpc.Fatura.Panel.External\${date:yyyyMMdd}.log" />
	<!--<variable name="fileName" value="/var/log/dcb/Panel_${date:yyyyMMdd}.log" />-->

	<targets>
		<target name="graylog" xsi:type="GelfUdp" facility="Hayalpc.Fatura.Panel.External" remoteAddress="88.99.150.117" remotePort="12201" layout="${var:logLayout}" />

		<target name="logfile" xsi:type="File" fileName="${var:fileName}" layout="${var:logLayout}"  />

		<target name="logconsole" xsi:type="Console" layout="${var:logLayout}"/>
		
		<target name="blackhole" xsi:type="Null" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="graylog" />
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>