@{
    ViewData["Title"] = "Fatura Ödeme";
}
<style>
    #getInvoices:disabled {
        color: #6c757d !important;
    }

    .grecaptcha-badge {
        visibility: hidden;
    }

    .data-msg, #invoices {
        display: none;
    }

    .institution_load {
        display: none;
    }

        .institution_load.active {
            display: block;
        }

    .invoices td {
        cursor: pointer;
    }

    #payment-methods {
        width: 100%;
        background: #f7f7f7;
    }


        #payment-methods .method-choose-block {
            height: 60px;
            border-bottom: 3px solid #dadada;
            cursor: pointer;
        }

            #payment-methods .method-choose-block.active {
                background: #dadada;
            }

        #payment-methods .choose {
            width: 30%;
            display: flex;
            float: left;
            text-align: center;
            overflow: hidden;
        }

            #payment-methods .choose input {
                float: left;
                display: block;
                margin-top: 25px;
            }

            #payment-methods .choose img {
                float: left;
                width: 60px;
                cursor: pointer;
                height: 60px;
            }

        #payment-methods .info {
            width: 70%;
            float: left;
            height: 60px;
            padding-left: 10px;
            padding-top: 8px;
        }

        #payment-methods .method-choose .info span {
            font-size: 14px;
        }

        #payment-methods .method-choose .info p {
            font-size: 11px;
        }

    .method-choose {
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    .method-form {
        border-left: 3px solid #dadada;
        padding: 5px 15px !important;
    }
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">PandaFatura</h1>
    <p class="lead">Faturalarınızı PandaFatura ile güvenle ödeyebilirsiniz.</p>
</div>

<div class="row mb-3 text-center">
    <div class="col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">
                    @{ if (session.Get("Authenticated") == "1")
                        {
                            <span>Fatura Ödeme</span>
                        }
                        else
                        {
                            <span>Doğrulama</span>
                        }
                    }
                </h4>
            </div>
            <div class="card-body">
                @{
                    @await Html.PartialAsync("_Messages");

                    if (session.Get("Authenticated") == "1")
                    {
                        @await Html.PartialAsync("_FaturaSorgula");
                    }
                    else
                    {
                        <span><i class="fa fa-sync fa-spin fa-3x"></i></span>
                        <br />
                        <br />
                        <p>Doğrulama yapılıyor. Lütfen bekleyiniz</p>
                        <form method="post" id="submit-form">
                            @Html.AntiForgeryToken()
                            <div id="html_element"></div>
                            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
                            <script type="text/javascript">
                                function onloadCallback () {
                                    grecaptcha.render('html_element', {'sitekey': '@AppConfigHelper.GoogleKey','size': 'invisible'});
                                    grecaptcha.execute();
                                    setTimeout(() => document.getElementById("submit-form").submit(), 2000);
                                }

                            </script>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>
