<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                @(Html.DevExtreme().DataGrid<SubscriptionVM>()
                .ID("SubscriptionVM-gridContainer")
                .DataSource(d => d.WebApi().Controller("Subscription").LoadMethod("post").Key("id"))
                //.DataSourceOptions(dso=>dso.Select("Id", "Name", "Type", "Email", "AuthorizedPersonName", "AuthorizedPersonPhone", "AuthorizedPersonEmail", "AuthorizedPersonTckn", "Status" ))
                .ColumnAutoWidth(true)
                .RowAlternationEnabled(true)
                .ShowColumnLines(true)
                .ShowBorders(true)
                .ShowRowLines(true)
                .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("SubscriptionVM-storage" + DateTime.Today))
                .Columns(c => {
                    c.AddFor(x => x.Id).DataField("id").Fixed(true).SortIndex(0).SortOrder(SortOrder.Desc);
                    c.AddFor(x => x.MerchantId).DataField("merchantId").Lookup(lookup =>lookup.DataSource(session.UserData.MerchantList).ValueExpr("Value").DisplayExpr("Text")).Visible(false);
                    c.AddFor(x => x.ServiceId).DataField("serviceId").Lookup(lookup =>lookup.DataSource(session.UserData.ServiceList).ValueExpr("Value").DisplayExpr("Text"));
                    c.AddFor(x => x.CarrierId).DataField("carrierId").Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList(typeof(CarrierId))).ValueExpr("Value").DisplayExpr("Text"));
                    c.AddFor(x => x.Msisdn).DataField("msisdn");
                    c.AddFor(x => x.HireAmount).DataField("hireAmount").Format(Format.Currency);

                    c.AddFor(x => x.SubsType).DataField("subsType").Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList(typeof(SubscriptionType))).ValueExpr("Value").DisplayExpr("Text"));
                    c.AddFor(x => x.Status).DataField("status").Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList(typeof(SubscriptionStatus))).ValueExpr("Value").DisplayExpr("Text"));
                    c.AddFor(x => x.CreateTime).DataField("createTime").Format("dd.MM.yyyy, HH:mm:ss").DataType(GridColumnDataType.DateTime);
                    c.AddFor(x => x.SubsDate).DataField("subsDate").Format("dd.MM.yyyy, HH:mm:ss").DataType(GridColumnDataType.DateTime);
                    c.AddFor(x => x.CancelDate).DataField("cancelDate").Format("dd.MM.yyyy, HH:mm:ss").DataType(GridColumnDataType.DateTime);
                    c.AddFor(x => x.RenewalDate).DataField("renewalDate").Format("dd.MM.yyyy, HH:mm:ss").DataType(GridColumnDataType.DateTime).Visible(false);

                    c.Add().HeaderCellTemplate("<i class='fa fa-bolt'></i>").AllowFiltering(false).AllowSorting(false).ShowInColumnChooser(false)
                    .CellTemplate(@<text> @await Html.PartialAsync("Partials/_ActionButtons") </text>);
                })

                .Pager(a => a.Visible(true).ShowPageSizeSelector(true).ShowInfo(true))
                .Paging(paging => paging.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 5, 10, 20,50,100 });
                    pager.ShowInfo(true);
                })
                .RemoteOperations(true)
                .FilterRow(f => f.Visible(true))
                .AllowColumnReordering(true)
                .NoDataText(tr.Get("EmptyRecord"))
                .Scrolling(Scrolling => Scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                .OnToolbarPreparing(@<text>@await Html.PartialAsync("Partials/_AddButton")</text>)
                .Export(e => e.Enabled(true))
                .OnExporting(@<text>@await Html.PartialAsync("Partials/_ExportButtons")</text>)
                .Selection(s => s.Mode(SelectionMode.Multiple).SelectAllMode(SelectAllMode.Page).AllowSelectAll(true).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                .ColumnChooser(cc => cc.Enabled(true).EmptyPanelText(tr.Get("EmptyRecord")).Mode(GridColumnChooserMode.Select))
                )

            </div>
        </div>
    </div>
</div>
