<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Hayalpc.Library.NLogGelf"/>
	</extensions>
	
	<variable name="logLayout" value="${longdate}|${mdlc:item=request_ip}|${mdlc:item=trace_identifier}|${uppercase:${level}}|${message}${exception}" />
	<variable name="fileName" value="c:\logs.pp.local\Hayalpc.Fatura.Panel.Internal\${date:yyyyMMdd}.log" />

	<targets>
		<target name="graylog" xsi:type="GelfUdp" facility="Hayalpc.Fatura.Panel.Internal" remoteAddress="88.99.150.117" remotePort="12201" layout="${var:logLayout}" />

		<target name="logfile" xsi:type="File" fileName="${var:fileName}" layout="${var:logLayout}"  />

		<target name="logconsole" xsi:type="Console" layout="${var:logLayout}"/>

		<target name="blackhole" xsi:type="Null"  />

		<target name="database" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql">
			<connectionString>${gdc:item=connectionString}</connectionString>

			<commandText>
				INSERT INTO "tracking"."nlogs" ( "machine_name", "create_time", "level", "message", "logger", "call_site", "exception", "activity_id", "trace_identifier", "session_id" )
				VALUES( @machine_name, @create_time, @level, @message, @logger, @call_site, @exception, @activity_id, @trace_identifier, @session_id );
			</commandText>

			<parameter name="@machine_name" layout="${machinename}" />
			<parameter name="@create_time" layout="${date}" dbtype="DateTime"/>
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@call_site" layout="${callsite}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@activity_id" layout="${activityid} " />
			<parameter name="@trace_identifier" layout="${mdlc:item=trace_identifier}" />
			<parameter name="@session_id" layout="${mdlc:item=session_id}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="graylog" />
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>