<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @(Html.DevExtreme().DataGrid<TableHistoryVM>()
                .ID("TableHistoryVM-gridContainer")
                .DataSource(d => d.WebApi().Controller("TableHistory").LoadMethod("post").Key("id"))
                //.DataSourceOptions(dso=>dso.Select("Id", "Name", "Type", "Email", "AuthorizedPersonName", "AuthorizedPersonPhone", "AuthorizedPersonEmail", "AuthorizedPersonTckn", "Status" ))
                .ColumnAutoWidth(true)
                .RowAlternationEnabled(true)
                .ShowColumnLines(true)
                .ShowBorders(true)
                .ShowRowLines(true)
                .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("TableHistoryVM-storage" + DateTime.Today))
                .Columns(c => {
                    c.AddFor(x => x.Id).DataField("id").FormItem(f => f.Visible(false)).Fixed(true).SortIndex(0).SortOrder(SortOrder.Desc);
                    c.AddFor(x => x.ActionType).DataField("actionType").Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList(typeof(ActionType))).ValueExpr("Value").DisplayExpr("Text"));
                    c.AddFor(x => x.ModelName).DataField("modelName");
                    c.AddFor(x => x.DataId).DataField("dataId");
                    c.AddFor(x => x.CreateUserId).DataField("createUserId").Lookup(lookup =>lookup.DataSource(d => d.WebApi().Controller("User").LoadMethod("post").Key("id")).ValueExpr("id").DisplayExpr("fullName"));
                    c.AddFor(x => x.RoleId1).DataField("roleId1").Lookup(lookup =>lookup.DataSource(d => d.WebApi().Controller("Role").LoadMethod("post").Key("id")).ValueExpr("id").DisplayExpr("fullName"));
                    c.AddFor(x => x.RoleId2).DataField("roleId2").Lookup(lookup =>lookup.DataSource(d => d.WebApi().Controller("Role").LoadMethod("post").Key("id")).ValueExpr("id").DisplayExpr("fullName"));
                    c.AddFor(x => x.Status).DataField("status").Lookup(lookup => lookup.DataSource(Html.GetEnumSelectList(typeof(TableHistoryStatus))).ValueExpr("Value").DisplayExpr("Text"));

                    c.Add().HeaderCellTemplate("<i class='fa fa-bolt'></i>").AllowFiltering(false).AllowSorting(false).ShowInColumnChooser(false).FormItem(f => f.Visible(false))
                        .CellTemplate(@<text> @await Html.PartialAsync("Partials/_ActionButtons") </text>);
                })
                .ColumnChooser(cc => cc.Enabled(true).EmptyPanelText(tr.Get("EmptyRecord")).Mode(GridColumnChooserMode.Select))
                .Pager(a => a.Visible(true).ShowPageSizeSelector(true).ShowInfo(true))
                .Paging(paging => paging.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 5, 10, 20,50,100 });
                    pager.ShowInfo(true);
                })
                .FilterRow(f => f.Visible(true))
                .AllowColumnReordering(true)
                .NoDataText(tr.Get("EmptyRecord"))
                .Scrolling(Scrolling => Scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                .OnToolbarPreparing("toolbar_preparing")
                .OnToolbarPreparing(@<text>@await Html.PartialAsync("Partials/_AddButton")</text>)
                .OnExporting(@<text>@await Html.PartialAsync("Partials/_ExportButtons")</text>)
                )
            </div>
        </div>
    </div>
</div>
